.search-form {
  & > div.rounded-pill {
    height: 3.5rem;
    input[type="search"]{
      height: auto;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      font-size: 1.5rem;
    }
    .fa-keyboard{
      font-size: 2rem;
      z-index: 1;
    }
  }
  .form-control::placeholder {
    font-size: 1.5rem;
    color: #aaa;
    font-style: italic;
  }
  .form-control:focus {
    box-shadow: none;
  }

  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  .input-group {
    height: 100%;
  }

  .input-group-append {
    align-items: center;
    #loading-icon {
      width: 2rem;
      height: 2rem;
      z-index: 5;
    }
    .fa-search{
      font-size: 2rem;
    }
  }
}
