html {
  // font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  height: 100vh;
}

* {
  // box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
}

@include media-breakpoint-down(sm) {
  .container{
    width: auto;
  }
}
